
header {
  background-color: #4267b2;
}
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 700px;
  background-color: #e9ebee;
}

#header {
    background-color: #4267b2;
    color: white;
}
.white-text {
  color: white !important;
}
#header ul .glyphicon {
    font-size: 20px;
}
.pull-right {
    float: right!important;
}
.list-heading {
    padding: 25px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;
}
#main::-webkit-scrollbar {
    display: none;
}

 .badge{
	 float: right;
 }
 
 .panel-heading{
	color:blue!important;
}

.navimg {
	height:32px;
	width:32px;
}

p {
	margin: 0 0 10px;
}

.comment {
    margin: 0;
}

.inline{
	display:inline! important;
}

.adbar {
	height:80px;
	width:100px;
}
.onit{
	position:relative;
	right:20px;
}
.comment-pic {
	height:32px;
	width:32px;
}
.blacky {
	color: grey! important;
	position:relative;
	left:35px;
	bottom:10px;

}

.grey{
	color:grey;
}